/*body*/
.container {
  width: 80%;
  margin: auto;
  max-width: 1600px;
}

.mitz-flex {
  display: flex;
  justify-content: space-between;
}

.mitz-container {
  background: #C4BEB8;
  width: 100%;
  height: auto;
}

.mitz-wrapper-logo {
  top: 0px;
  left: 102px;
  width: 58px;
  height: 94px;
  display: flex;
  position: fixed;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  z-index: 1;
  background-color: black;
}

/*body*/

/*header*/
.mitz-background-gradient {
  background: url(/../imgs/gradiente.png);
  display: table;
  width: 100%;
  height: 930px;
  background-size: 110% 930px;
}

.mitz-flex-header {
  display: flex;
  float: right;
  width: 40%;
  justify-content: space-between;
  height: 90px;
  align-items: center;
}

.mitz-title-header {
  top: 260px;
  position: relative;
}

.mitz-title-header h5 {
  color: #C4BEB8;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
}

.mitz-contact h2 {
  color: black
}

.mitz-logo-banner {
  position: relative;
  bottom: -486px;
  width: 100%;
  max-width: 1080px;
}

/*header*/

/*about*/
.mitz-about {
  background: black;
  display: flex;
  color: #C4BEB8;
  padding: 184px 0px;
}

.mitz-about h2 {
  font-family: 'Archia';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
}

span.mitz-about-text {
  display: flex;
  flex-direction: column;
  width: 90%;
  float: right;
}

span.mitz-about-subtitle {
  font-family: 'Archia';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 125%;
  text-align: justify;
}

.mitz-about-text p {
  font-family: 'Archia';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  text-align: justify;
  color: #aba6a1;
}

.mitz-about-values {
  padding: 184px 0px;
  color: black;
}

.mitz-about-values-flex {
  display: flex;
  justify-content: space-between;
}

span.mitz-about-values-text {
  width: 45%;
}

span.mitz-about-values-text h2,
span.mitz-about-values-text p {
  color: black;
}

span.mitz-about-values-text h2 {
  font-family: 'Archia';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  text-align: justify;
  position: relative;
  margin-top: -10px;
}

span.mitz-about-values-text p {
  font-family: 'Archia';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  text-align: justify;
}

.mitz-about-img img {
  max-width: 728px;
  width: 100%;
}
/*about*/

/*services*/
.mitz-services {
  background-color: #D9D9D9;
  padding: 100px 0 200px;
}

.mitz-services-bg-black {
  background: black;
  padding: 5%;
  width: 36%;
  text-align: justify;
}

.mitz-services h2 {
  color: black;
  font-family: 'Archia';
  font-style: normal;
  font-size: 40px;
  line-height: 48px;
  text-align: justify;
}

.mitz-services p, .mitz-services a {
  font-family: 'Archia';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  text-align: justify;
  color: #C4BEB8;
}

.mitz-services-bg-black span {
  font-size: 22px;
  top: -15px;
  position: relative;
}

/*services*/

/*team*/
.mitz-team {
  background-color: black;
  padding: 100px 0 200px;
}

.mitz-team p {
  font-family: 'Archia';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 147%;
  text-align: justify;
  color: #C4BEB8;
}

.mitz-team h2 {
  font-family: 'Archia';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 188.5%;
  letter-spacing: 0.05em;
  color: #C4BEB8;
}

.flex-team {
  gap: 75px;
  margin-bottom: 75px;
}

.flex-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/*team*/

/*pattern*/
.mitz-pattern {
  background-image: url(https://vinialexandre.github.io/landing-page-mitz-it/playground_assets/pattern1551-zw5b-1100h.png);
  width: 100%;
  height: 200px;
  display: table;
}

/*pattern*/

/*contact*/
.mitz-contact {
  background-color: transparent;
  padding: 100px 0 200px;
}

.mitz-contact h2 {
  font-family: 'Archia';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 188.5%;
  letter-spacing: 0.05em;
  color: black;
}

form.mitz-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 25px;
  margin-top: 50px;
}

.mitz-input,
.mitz-textarea {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 2px solid black;
  font-family: 'Archia';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 147%;
  color: #000000;
}

.mitz-row-2-column {
  display: flex;
  justify-content: space-between;
}

.mitz-column {
  width: 48%;
}

.mitz-msg-error {
  color: #c34848;
  height: 20px;
  font-size: 13px;
  margin-left: 3px;
  margin-top: 5px;
  width: 100%;
}

button.mitz-button {
  border: 1px solid #000000;
  background: transparent;
  color: black;
  width: 106px;
  height: 33.36px;
  font-size: 16px;
  float: right;

}

button.mitz-button:hover {
  background: black;
  color: #C4BEB8;
  width: 106px;
  height: 33.36px;
  font-size: 16px;
}

textarea.mitz-textarea {
  height: 142.99px;
}

.mitz-progress-bar {
  background: #C4BEB8 !important;
}

.mitz-toast {
  width: 506px;
  left: -188px;
  line-height: 51px;
  border-radius: 0px !important;
}

/*contact*/

/*footer*/
.mitz-logo {
  width: 74%;
  height: auto;
  top: 21px;
  position: relative;
  margin: auto;
}

span.mitz-midia {
  width: 410px;
}

footer.mitz-footer {
  background: black;
  display: flex;
  height: 205px;
  font-weight: 250;
}

/*footer*/