body{
  margin: 0 !important;
  padding: 0 !important;
  background: #C4BEB8;
}

* {
  font-family: Archia, sans-serif;
  color: #C4BEB8;
}


*:focus {
  outline: none;
}


a {
  color: inherit;
  text-decoration: inherit;
}